@font-face {
  font-family: "iconfont"; /* Project id 2632701 */
  src: url('iconfont.woff2?t=1656662806457') format('woff2'),
       url('iconfont.woff?t=1656662806457') format('woff'),
       url('iconfont.ttf?t=1656662806457') format('truetype');
}

.iconfont {
  font-family:  "iconfont", Helvetica,
    Arial,
    Verdana,
    Tahoma,
    sans-serif;;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaodanzujian-anniu:before {
  content: "\eb94";
}

.icon-iconfontplay2:before {
  content: "\e719";
}

.icon-zu:before {
  content: "\e613";
}

.icon-touxiang1:before {
  content: "\e621";
}

.icon-zhengquewanchengchenggong:before {
  content: "\e75f";
}

.icon-shujutongji:before {
  content: "\e74e";
}

.icon-fangwenliang:before {
  content: "\e8b0";
}

.icon-daojishi:before {
  content: "\e649";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-pause:before {
  content: "\e614";
}

.icon-shipin_o:before {
  content: "\eb81";
}

.icon-xingzhuang-wenzi:before {
  content: "\eb99";
}

.icon-paihangbang--:before {
  content: "\e611";
}

.icon-paihangbang:before {
  content: "\e629";
}

.icon-lianjie:before {
  content: "\e620";
}

.icon-icon:before {
  content: "\e644";
}

.icon-zanting:before {
  content: "\e651";
}

.icon-weikaishi:before {
  content: "\e6b8";
}

.icon-icon-:before {
  content: "\e610";
}

.icon-touxiang:before {
  content: "\e60d";
}

.icon-ico:before {
  content: "\e646";
}

.icon-ziyuan26:before {
  content: "\e609";
}

.icon-control-top:before {
  content: "\e647";
}

.icon-control-bottom:before {
  content: "\e648";
}

.icon-zitisuoxiao:before {
  content: "\e60e";
}

.icon-zitifangda:before {
  content: "\e60f";
}

.icon-fuzhi:before {
  content: "\e606";
}

.icon-ziyuan:before {
  content: "\e60c";
}

.icon-xiayiyiceng:before {
  content: "\e61c";
}

.icon-shanchu1:before {
  content: "\e67d";
}

.icon-bold:before {
  content: "\eaef";
}

.icon-tongji:before {
  content: "\e69b";
}

.icon-31:before {
  content: "\e61a";
}

.icon-bianqian1:before {
  content: "\e608";
}

.icon-xiaochengxuma:before {
  content: "\e6b6";
}

.icon-tubiaozhizuomobanyihuifu-:before {
  content: "\e6a4";
}

.icon-Link:before {
  content: "\e6b2";
}

.icon-smile:before {
  content: "\e62a";
}

.icon-shield:before {
  content: "\e875";
}

